input[type="file"] {
    display: none;
}
.custom-file-upload {
    border-radius: 3px;
    background-color: #f39c12;
    border-color: #e08e0b;
    box-shadow: none;
    padding: 10px 16px;
    border: 1px solid transparent;
    font-size: 13.5px;
}