<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>
      Iniciar sesión
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding center text-center>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <form (ngSubmit)="logInForm()">
          <ion-item no-padding>
            <ion-label position="floating">Usuario</ion-label>
            <ion-input type="text" (click) ="inputClick()" [(ngModel)]="username" name="username" id="input-username"></ion-input>
          </ion-item>
          <div class="errorMessage" *ngIf="usernameError" text-start> {{ usernameError }} </div>
          <ion-item no-padding>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="password" name="password" id="input-password"></ion-input>
          </ion-item>
          <div margin-vertical text-center padding-vertical>
            <ion-button type="submit" expand="block" id="btn-login" [disabled]="!username || !password">
              Ingresar
            </ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>