<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Fichas Clínicas </ion-title>
      
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item>
          <div style="width: 50%;">
              <button ion-button (click) = "createFicha()" icon-start  style="border-radius: 3px;
              background-color: #f39c12;
              border-color: #e08e0b;
              box-shadow: none;
              padding: 10px 16px;
              border: 1px solid transparent;">
              Agregar Ficha
            </button>
          </div>
      </ion-item>
      <ion-item>
          <ion-label> <ion-icon name="contact"></ion-icon>Filtrar por Pacientes</ion-label>  
          <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Paciente" [(ngModel)]="pacienteSeleccionado"  (ngModelChange)="pacienteSelec($event)" >  
            <ion-select-option value="null">Todos  </ion-select-option>  
            <ion-select-option *ngFor="let paciente of pacientes" value="{{paciente.id}}">{{paciente.nombre}}  </ion-select-option>  
          </ion-select>  
      </ion-item>
      <ion-item>
        <ion-label> <ion-icon name="person"></ion-icon>Filtrar por Fisioterapeuta</ion-label>  
        <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Fisioterapeuta" [(ngModel)]="fisioterapeutaSeleccionado"  (ngModelChange)="fisioterapeutaSelec($event)" >  
            <ion-select-option value="null">Todos  </ion-select-option>  
          <ion-select-option *ngFor="let fisioterapeuta of fisioterapeutas" value="{{fisioterapeuta.id}}">{{fisioterapeuta.nombre}}  </ion-select-option>  
        </ion-select>  
      </ion-item>
      <ion-item>
          <ion-label>Filtrar por Categoría</ion-label>  
          <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Categoría" [(ngModel)]="categoriaSeleccionado"  (ngModelChange)="categoriaSelec($event)" >  
              <ion-select-option value="null">Todos  </ion-select-option>  
            <ion-select-option *ngFor="let categoria  of categorias" value="{{categoria.id}}">{{categoria.nombre}}  </ion-select-option>  
          </ion-select>  
      </ion-item>
      <ion-item>
          <ion-label><ion-icon name="bookmark"></ion-icon>Filtrar por Sub-Categoría</ion-label>  
          <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Sub categoría" 
          [(ngModel)]="subcategoriaSeleccionado"  (ngModelChange)="subcategoriaSelec($event)" >  
          <ion-select-option value="null">Todos  </ion-select-option>  
            <ion-select-option *ngFor="let subcategoria  of subcategorias" value="{{subcategoria.id}}">{{subcategoria.nombre}}  </ion-select-option>  
          </ion-select>  
      </ion-item>
      <ion-item>  
          <ion-label><ion-icon name="calendar"></ion-icon>
           Desde</ion-label>  
          <ion-datetime [(ngModel)]="desde" (ngModelChange)="desdeSelec($event)" displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" ></ion-datetime>  
        </ion-item> 
        <ion-item>  
            <ion-label><ion-icon name="calendar"></ion-icon>
             Hasta</ion-label>  
            <ion-datetime [(ngModel)]="hasta" (ngModelChange)="hastaSelec($event)" displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY"></ion-datetime>  
          </ion-item>  
            <ion-list *ngFor="let item of items">
              <ion-item style="--border-color: white;">
                  <ion-icon name="clipboard" slot="start"></ion-icon>
                  <p class="ion-text-wrap">
                      <ion-icon name="contact"></ion-icon> {{item.paciente}} 
                      <ion-icon name="person"></ion-icon>  {{item.fisioterapeuta}} 
                      <ion-icon name="calendar"></ion-icon> {{item.fecha}}
                      <ion-icon name="bookmark"></ion-icon> {{item.subcat}}
                  </p>
              </ion-item>

              <p style="background: gray;
                        margin: unset;
                        color: white;
                        font-weight: bold;
                        padding: 10px 0px 10px 16px;">Archivos</p>
            
              <div *ngFor="let file of item.files" style="padding: 16px; background: #efefef;border-top: solid gray;">
                {{ file.nombre }}
                <a href="{{file.urlImagen}}" style="float: right;font-size: 25px;"><ion-icon style="color:#f39c12;" name="download"></ion-icon></a>
                <img src="{{file.urlImagen}}" onerror="this.style.display='none'" style="padding-top: 10px;"/>
              </div>
              <div *ngIf="item.files.length==0" style="background: #efefef;padding: 16px;">  
                  No hay archivos
              </div> 
              <div style="background: #efefef;padding: 16px;">
                  <button ion-button style="border-radius: 3px;
                  background-color: #f39c12;
                  border-color: #e08e0b;
                  box-shadow: none;
                  padding: 10px 16px;
                  border: 1px solid transparent;">
                  Agregar Archivo
                </button>
              </div>
            </ion-list>
    <ion-item *ngIf="items.length==0">  
        <ion-label>No se encontraron fichas clínicas</ion-label> 
      </ion-item> 
  </ion-list>
</ion-content>
